#content-card {
    padding: 10px;
    box-shadow: 2px 2px 10px lightgray;
    border-bottom-left-radius: 10px;
}

#content-card>p {
    overflow: hidden;
    max-width: 690px;
    max-height: 130px;
    text-align: justify;
}

#btn-update {
    color: white;
    background-color: rgb(53, 131, 241);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    display: block;
    align-items: center;
}

#btn-delete {
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}